<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  
  
    
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
        <authorization>
            <allow users="*" />
        </authorization>
  </system.web>
  <system.serviceModel>
     <services>
        <service behaviorConfiguration="serviceBehavior" name="TempleRestService.Service1">
           <endpoint address="" behaviorConfiguration="web" binding="webHttpBinding" bindingConfiguration="" contract="TempleRestService.IService1" />
        </service>
     </services> 
    <behaviors>
      <serviceBehaviors>
       <behavior name="serviceBehavior"> 
         <serviceMetadata httpGetEnabled="false" /> 
         <serviceDebug includeExceptionDetailInFaults="false" /> 
       </behavior> 
      </serviceBehaviors>
    
    <endpointBehaviors> 
       <behavior name="web"> 
         <webHttp /> 
       </behavior> 
    </endpointBehaviors> 
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

</configuration>
